<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game Detail Page</title>
    </head>
    <body>
        <h1>{{ game.game_title }}</h1>  
        <ul>
            <!-- {#% for detail in game %#} -->
            <li>Publisher: {{ game.game_publisher }}</li>
            <li>BGG URL: {{ game.game_bgg_url }}</li>
            <li>Published Date:{{ game.game_pub_date }}</li>
            <li>Added to Site Date: {{ game.game_added_date }}</li>
        </ul>
    </body>
</html>