<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Game Index Page</title>
    </head>
    <body>
        {% if latest_games_list %}
            <ul>
            {% for game in latest_games_list %}
                <li>
                    <a href="{% url 'games:detail' game.id %}">{{ game.game_title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No games are available.</p>
        {% endif %}
    </body>
</html>